html {
	scroll-behavior: smooth; /* Makes anchor links scroll smoothly */
	margin: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
	/* line-height: 1.2em; */
	color: black;

}


.checkmark {
	display: none;
	margin-left: 10px;
}


.content {
	font-family: Roboto;
	color: red;

	width: 460px;
	/* margin: auto; */
	overflow: auto;
	margin-top: 20px;

	display: none; /*toggles to flex onclick*/
	flex-direction: column;
	/* justify-content: center; */
}

.grid {
	color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 1fr 1fr 1fr 50px;
  /* margin: 0px 40px 0px; */
	gap: 5px;

}


.captcha {
	width: 150px;
	margin: auto;
}

.captcha.clicked {
	width: 120px;
}

.title {
	grid-area: 1 / 1 / 2 / 4;
	background-color: #4285F4;
	margin-top: 10px;

	display: flex;
	/* align-items: center; */
}

.titleText /* title text*/ {
	font-size: 20px;
	font-weight: normal;

	margin: 0;
	padding: 0;
	padding-left: 30px;
	padding-top: 30px;
}

.bottom {
	grid-area: 5 / 3 / 6 / 4;
	background-color: #4285F4;

	display: flex;
	justify-content: center;
	align-items: center;
}

.verify {
	font-size: 16px;
	font-weight: 500;
}



/* font */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
