html {
	scroll-behavior: smooth; /* Makes anchor links scroll smoothly */
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	height: 100%;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
	color: blue;
	height: calc(100vh - 32px);

  /* font */
  font-size: 20px;
	font-family: Plat Mono Trial;
	letter-spacing: -1px;
	line-height: 140%;
}

a {
	/*color: #777777;*/
	text-decoration: none;
}

h1 {
	font-size: 48px;
	line-height: 120%;
	margin-top: 0px;

	font-family: Routed Gothic Narrow;
	font-weight: normal;
	letter-spacing: -1px;
}

.subtitle {
	font-size: 30px;
	line-height: 120%;

	font-family: Routed Gothic Narrow;
	font-style: italic;
	letter-spacing: 0px;

}

h2 {
	font-size: 36px;
	line-height: 120%;
	margin-bottom: 0.5em;

	font-family: Routed Gothic Narrow;
	font-weight: normal;
	letter-spacing: 0px;
}

h3 {
	font-size: 26px;
	line-height: 140%;
	margin-top: 0px;
	margin-bottom: 5px;

	font-family: Routed Gothic Narrow;
	font-weight: normal;
	letter-spacing: 0px;
}





/* container */

.container {
  display: flex;
  /* flex-flow: row wrap;
	justify-content: space-between; */

  gap: 8px;
  max-width: 100%;
	padding-top: 55px;

	overflow: hidden;
	height: calc(100vh - 47px);
}




/* bodycopy */

#bodycopy {
	flex: 1 0 60%;
	min-width: 0;
	max-width: 900px;
  line-height: 140%;
	mix-blend-mode: multiply;

	padding-left: 100px;
	padding-right: 70px;
	padding-top: 20px;

	overflow: auto;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#bodycopy::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#bodycopy div {
  padding-bottom: 24px;
	display: inline-block;
}

.bodyContainer {
	height: calc(100vh - 60px);
	z-index: -5;
	position: fixed;
	top: 30px;
	left: 300px;

	border: 2px solid;
	box-shadow: 0 0 20px -5px blue;
}

.speaker1 {
  padding-right: 40%;
}

.speaker2 {
  padding-left: 40%;
	font-family: Arial Narrow;
	letter-spacing: 1px;
}

hr {
	border: 0;
	height: 2px;
	background-color: blue;
	margin: 0px;
}

.circle {
	display: inline-block;

	border: solid #000;
	border-width: 2px 2px;
	border-color: blue;
  border-radius: 50%;

	height: 20px;
	width: 20px;

	padding: 0;
	margin: 0;
}






/* sidebar */

.sidebar {
	flex: 1 0 18%;
	/* margin-right: auto; */
  /*HELP: how to make sticky?*/
}

.sidebar.left {
	flex: 1 0 18%;
	min-width: 200px;
	height: 100%;
}

.sidebar.left div {
	max-width: 200px;
	margin-right: 0;
}

.sidebar.right {
	flex: 1 0 16%;
	min-width: 0;
	height: 100%;
}

.sidebar.right div {
	max-width: 200px;
	margin-left: auto;
	position: sticky;
	top: 16px;
}


.glossaryTerm {
	width: 200px;
	display: inline-block;
}

.glossaryTermIcon {
	position: absolute;
	right: 0px;
	display: inline-block;
}

.glossaryDef {
	display: inline-block;
	font-size: 16px;
	line-height: 140%;

	color: #f93373;
	font-family: Arial Narrow;
	letter-spacing: 1px;
}

.glossaryDefPad {
	padding-bottom: 1em;
}





/* left & right static nav */

.nav {
	height: 70%;
	position: fixed;
}

.nav.left{
	top: 16px;
	left: 16px;
	max-width: 200px;
}

.nav.right{
	top: 0;
	right: 0px;
}

.scroll {
	background-color: #f93373;
	width: 8vw;
	height: 3px;

	position: absolute;
	top: 40px;
	right: 0;
}

.scrollText {
	font-family: Routed Gothic Narrow;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 120%;
	width: 100px;

	color: #f93373;

	position: absolute;
	top: -1em;
	right: 8.5vw;
}

.navImg {
	padding-top: 28px;
	padding-bottom: 28px;
	padding-right: 16px;
}






/*img treatment*/

.imgContainer {
	margin: 0;
	padding: 0;
}

.imgFormat {
	position: fixed;
	max-width: 500px;
	max-height: 100%;
	left: 20%;

	mix-blend-mode: multiply;
	opacity: 100%;
	z-index: -3;
}

.imgCaption {
	position: fixed;
	bottom: calc(2em - 20px);
	left: 16px;
	max-width: 200px;

	color: #f93373;
	font-family: Arial Narrow;
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 120%;
	opacity: 60%;
}





/*fonts*/

@font-face {
  font-family: Plat Mono Trial;
  font-weight: normal;
  src: url(fonts/PlatMono-Regular.otf);
}


@font-face {
  font-family: Routed Gothic Narrow;
  font-weight: normal;
  src: url(fonts/routed-gothic-narrow.ttf);
}

@font-face {
  font-family: Routed Gothic Narrow;
  font-style: italic;
  src: url(fonts/routed-gothic-narrow-italic.ttf);
}

@font-face {
  font-family: Arial Narrow;
  font-weight: normal;
  src: url(fonts/arialnarrow.ttf);
}
